body{
    margin:0;
    padding:0;
    background:aqua;
}

.continue{
    text-align: center;
    width: 100%;
    height:800px ;
    background-color: black;
    ;
}

img{
    margin:2em;
    width: 50%;
    height: 50%;
    border: 0.5em solid white;
}

p,h1{
    color:white;
}
